.text-align-center {
	text-align: center;
}

.text-align-right {
	text-align: right;
}

.fineprint {
	font-size: xx-small;
	float: right;
}
img.logo
{
	width:50%;
	max-width: 300px;
}
.center
{
	margin-left: auto;
	margin-right: auto;
}

.gallery { list-style: none; padding: 0; margin: 0; }
.gallery:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.gallery li { float: left; width: 33.33333333%; }
.gallery li a { display: block; margin: 5px; border: 1px solid #3c3c3c; }
.gallery li img { display: block; width: 100%; height: auto; }
#detail .ui-content { overflow: hidden; }