.text-align-center {
	text-align: center;
}

.text-align-right {
	text-align: right;
}

div#home
{
	background-image: url("http://lh4.ggpht.com/UVhVjsJLUqNP8dPnCfiuLZ2SF99NtQWmKUEJ3O_szFk7MBQ0sVGUz_dNMVLo5FBXCVBxwi1Nomr45DOXDWS7K2Jc0UME4TwU");	
	background-repeat:no-repeat;
	background-size: 100%; 
	
}
.ui-icon-custom-message {
	background-image: url("../img/ic_action_mail.png");
	background-size: 18px 18px;
}

.ui-icon-custom-like {
	background-image: url("../img/3-rating-good.png");
	background-size: 18px 18px;
}

.ui-icon-custom-dislike {
	background-image: url("../img/3-rating-bad.png");
	background-size: 18px 18px;
}

.flagComment {
	background-image: url("../img/exclamation-icon-18px.png");
	background-size: 18px 18px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-icon-custom-message {
		background-image: url("../img/ic_action_mail.png");
		background-size: 18px 18px;
	}
}

.fineprint {
	font-size: xx-small;
	float: right;
}

img.logo {
	width: 49%;
	max-width: 300px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.themaImg {
	max-width: 90%;
}

.gallery {
	list-style: none;
	padding: 0;
	margin: 0;
}

.gallery:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.gallery li {
	float: left;
	width: 33.33333333%;
}

.gallery li a {
	display: block;
	margin: 5px;
	border: 1px solid #3c3c3c;
}

.gallery li img {
	display: block;
	width: 100%;
	height: auto;
}

#detail .ui-content {
	overflow: hidden;
}

#like{
	position: absolute;
	right: 10px;
	top: 80px;
}

#like_counts{
	margin-right: 65px;
}

#like_counts div {
	font-size: small;
	width: 43px;
	float: right;
	text-align: center;
}

#like_count{
	color: green;
}

#dislike_count{
	color: red;
}

/* DETAIL PAGE */
/* Generic*/
#locationWheelChair {
	width: 30px;
	height: 30px;
	font-size: x-large;
	position: absolute;
	top: 40px;
	left: 0px;
	display: none;
}

#locationNumber {
	height: 30px;
	font-size: x-large;
	position: absolute;
	top: 0px;
	left: 0px;
}

.locationNumberDD {
	width: 30px;
	padding: 5px;
}

.locationNumberSD {
	width: 17px;
	padding: 5px 10px 5px 13px;
}

#image {
	margin: auto;
	position: relative;
	background-color: #fbfbfb;
	/* border: 1px solid #b8b8b8;*/
	overflow: hidden;
}

#primaryImage {
	width: 100%;
	margin-bottom: -4px;
}

#title h3 p {
	margin: 0em;
}

/* Orange style */
.orangeBackground {
	background: #d06516;
	color: #fff;
	border-color: #d06516;
}

.orangeColor {
	color: #d06516;
}

/* Pink style */
.pinkBackground {
	background: #D599C1;
	color: #fff;
	border-color: #D599C1;
}

.pinkColor {
	color: #D599C1;
}

/* Ble style */
.blueBackground {
	background: #3D66B5;
	color: #fff;
	border-color: #3D66B5;
}

.blueColor {
	color: #3D66B5;
}

/* Green style */
.greenBackground {
	background: #4C9C3E;
	color: #fff;
	border-color: #4C9C3E;
}

.greenColor {
	color: #4C9C3E;
}

/* Yellow style */
.yellowBackground {
	background: #f8dc00;
	color: #3070b5;
	border-color: #f8dc00;
}

.yellowColor {
	color: #f8dc00;
}

/* OMD KLEURCODES
 * Oranje: #D06516
 * Roze:   #D599C1
 * Blauw:  #3D66B5
 * Groen:  #4C9C3E
 * Geel:   #f8dc00
 */
 
 #jstwitter {
    font-family: georgia;
    font-size: 12px;
    color: #333333;
    padding: 10px 10px 0 10px;
    margin:0 auto;
    background:#fff;
}
 
#jstwitter h1 {
    text-align:center;
    margin-top:5px;
}
 
#jstwitter .tweet {
    margin: 0 auto 15px auto;
    padding: 0 0 15px 0;
    border-bottom: 1px dotted #ccc;
}
 
#jstwitter .tweet a {
    text-decoration: none;
    color: #03a8e5;
}
 
#jstwitter .tweet a:hover {
    text-decoration: underline;
}
 
#jstwitter .tweet .text {
    display:block;
}
 
#jstwitter .tweet .time, #jstwitter .tweet .user {
    font-style: italic;
    color: #666666;
}

#jstwitter .user a{
    font-style: italic;
    color: #666666;
}
 
#jstwitter .tweet:last-child {
    border:0;
}

.ps-caption{
    opacity:0.8 !important;
    display:block !important;
}

.ps-toolbar{
    opacity:0.8 !important;
    display:table !important;
}   