body
{
		
}
.selection{
	margin-bottom: 20px;
}
.data
{
	position:relative;
	float:left;
	margin-right: 50px;
}
.image
{
	float:left;
	position:relative;
}
.images
{
clear:both;	
}
.imagelist
{
	float:left;	
}

#menu li
{
	list-style-type: none;
	display:inline;	
}
